:root{
    --background-brown: #302727;
    --background-red: #ba2d2d;
    --background-dark-orange: #f2511b;
    --background-orange: #f2871b42;
    --background-yellow: #c7c730;
}



.nav-item a{
    color: white;
    height: 50px;
}
.nav-item a:hover{
    color: rgb(196, 196, 196);

}
#conta-bancaria{
    width: 90%;
    padding: 0px 10px;
}




                    /* main */

main{
    width: 100%;
    height: 100%;
}

#banner{
    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.banner{
    width: 45%;
    height: 40%;
    background-color: var(--background-orange);
    color: black;

}


#btn-conta{
    color: white;
}

body{
    background-color: #dddddd;
}
#img-contrate{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px ;
    width: 100%;
    height: 100%;
    background-position: center !important;


}
#contrate{
    height: 100%;
}
.contrate{
    width:100%;
}
#contrate-bg{
    height: 500px;
}

.card-img-top{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

#cartao2{
    background-position: center !important;
    background-size: contain !important;

}
#cartoes{
    height: 450px !important;
    background-size: cover;
    background-position: center;

   
}


/* section-4 */
#container-section{
    width: 100%;
}

#container-tabela{
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.459);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 8px rgba(0, 0, 0, 0.404) ;
    gap: 20px;
    padding: 0px 40px;
    padding-top: 20px;
}
#style-footer{
    width: 100%;
    height: 50px;
    background-color: #ba2d2d;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
